{% load static %}
<!DOCTYPE html>
<html>

<head>
 <title>example</title>
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <h1>Hello World...I am doing Cyber Square</h1>
  <img src="{% static 'images/7386.jpg' %}" alt="picture" width="250px" height="200px">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate consequuntur aperiam nulla rem temporibus tempora ea impedit veniam nisi. Cupiditate fugit libero perferendis soluta voluptatem, ipsam possimus hic magnam! Ab!</p>
</body>
</html>