<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="first number">
    <input type="text" id="num1" onkeypress="return onlyNumberKey(event)" placeholder="enter 1st number"><br><br>
    <label for="">enter 2nd number :</label>
    <input type="text" id="num2" onkeypress="return onlyNumberKey(event)" placeholder="enter 2nd number"><br><br>
    <label for=""
    </label>
</body>
</html>