<html>
<head>
    <title>Registration Page</title>
<body bgcolor="lightblue">
    
         <form>
                <table cellpadding="5">

                    <tr>
                        <td>
                            <label for="fname">Firstname</label>
                            <input type="text" name="fname" id="" style="margin-left: 51px;">
                        </td>
                  </tr>

                  <tr>
                      <td>
                          <label for="midname"> Middlename:</label>
                          <input type="text" name="midname" id=""  style="margin-left: 32px;">
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <label for="lstname">Lastname:</label>
                          <input type="text" name="lstname" id=""  style="margin-left: 50px;">
                      </td>
                  </tr>
                  <tr>
                     <td>
                    
                        <label for="course">Course :</label>
                        
                        <select name="course" id="course">
                          <option value="course">Course</option>
                          <option value="BSc">BSc</option>
                          <option value="BTech">BTech</option>
                        </select>
                     </td>
                  </tr>
                 <tr>
                    <td>Gender :</td>
                    <tr>
                       <td>
                        <input type="radio" name="Gender" id="male">
                        <label for="male">male</label>
                       </td>
                    </tr> 
                 </tr>
                 <tr>
                        <tr>
                            <td>
                             <input type="radio" name="Gender" id="female">
                             <label for="female">Female</label>
                            </td>
                        </tr>
                    </tr>
                    <tr>
                        <tr>
                            <td>
                             <input type="radio" name="Gender" id="other">
                             <label for="pther">Other</label>
                            </td>
                        </tr>
                    </tr>
                    <tr>
                        <td>
                            <label for="phone">Phone</label>
                            <input value="+91" size="1">
                            <input type="tel" name="phone" id="">
                        </td>
                    </tr>
                    <tr>
                        <td> <label for="address">Address</label></td>
                        <tr>
                            <td><textarea name="Address" id="" cols="55
                                " rows="5"></textarea></td>
                            </tr>
                    </tr>
                    <tr>
                        <td>
                            <label for="mail">Email:</label>
                            <input type="mail" name="mail" id="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="pswrd">Password:</label>
                            <input type="password" name="pswrd" id="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="rtpswrd">Re-type Password:</label>
                            <input type="rtpassword" name="rtpswrd" id="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Submit">

                        </td>
                    </tr>


                </table>
         </form>
</body>
</head>
</html>