<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>javascript</title>
</head>
<body>
    <button onclick="alert('this is onclickig button')">Click Me</button>
    <script>
       
        document.write("<h1>this is internal script</h1");
            var x=10;
            var y=10.45;
            var z="asdf";
        document.write(x+"<br>");
        document.write(typeof(x)+"<br>");  

        document.write(y+"<br>");
        document.write(typeof(y)+"<br>");  
        //dynamically typed
        x="asddslpl"
        document.write(x+"<br>");

    </script>
</body>
</html>