<!DOCTYPE html>
<head>
<title>THINK</title>
<body>
	<h1><font color="red"> QUOTES</h1></font>
	<p><font color="blue"></font>
	Patience is a bitter plant but it has sweet fruit.
Impatience and not experience is the greatest handicap of you.<br>
<b><i>Experience is the best teacher.</i></b>
</p>
<img src="{% static 'images/images.jpg' %}">
<br>
 <p> A man that is young in years may be old in hours if he has lost no time.
	Words without actions are like birds without feathers,they remain where they are.<b>Think well of all,speak well of all and do good to all.</b></li>
</p>
	<li>a<sup>2</sup>
<li> h<sub>2</sub>o</li>
<img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" width="200px">
</body>
</head>
</html>